/* #region settings */
body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1168px;
  padding: 0 15px;
  margin: 0 auto;
}
/* #endregion settings */

/* #region header */
.page-header {
}

.header-container {
  display: flex;
}

.logo {
  display: inline-flex;
  align-items: center;
  padding: 24px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.logo-part {
  font-style: italic;
}

.header-logo-icon {
  margin-left: 4px;
}

.page-nav {
  margin-right: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.nav-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}

.nav-item {
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}

.icon-list {
  display: flex;
  align-items: center;
  gap: 18px;
}
.icon-item {
}
.icon-link {
  padding: 24px 0;
}
.social-icon {
  stroke: #111;
  fill: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover {
  stroke: #fd9222;
}
/* #endregion header */

/* #region hero section */
.hero-section {
}

.hero-container {
  background-color: #1e1823;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url('../images/hero-background-image.jpg');
  padding-top: 375px;
  padding-bottom: 46px;
  padding-right: 72px;
  padding-left: 72px;
  border-radius: 30px;
  margin-bottom: 72px;
}

.page-title {
  width: 484px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-buttons-group {
  display: flex;
  justify-content: space-between;
}

.hero-button {
  margin-right: 14px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  border-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.made-button {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.made-button:hover,
.made-button:focus {
  color: #fd9222;
  background-color: #ffffff;
  border: 1px solid #fd9222;
}

.scroll-button {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-button:hover {
  color: #fd9222;
}

.scroll-button-text {
  margin-right: 14px;
}

.scroll-icon {
  position: relative;
}

.default-icon,
.hover-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.default-icon {
  opacity: 1; /* Видима по умолчанию */
}

.hover-icon {
  opacity: 0; /* Скрыта по умолчанию */
}

/* Ховер-эффекты */
.scroll-button:hover .default-icon {
  opacity: 0; /* Скрываем основную иконку */
}

.scroll-button:hover .hover-icon {
  opacity: 1; /* Показываем иконку для ховера */
}

/* #endregion hero section */

/* #region benefits section */
.benefits-section {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.benefits-container {
  padding: 0 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.benefits-item {
  width: calc((100% - 140px) / 3);
  padding-right: 18px;
  position: relative;
}

.benefits-item::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 124px;
  background-color: rgba(255, 255, 255, 0.5);
}

.benefits-item:last-child::after {
  content: none;
}

.benefit-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.benefit-descr {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion benefits section */

/* #region ingredients section */
.Ingredients-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.ingredients-title {
  margin: 0 auto 28px;
  width: 411px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.taste-word {
  color: #fd9222;
}

.ingredients-text {
  margin: 0 auto 50px;
  width: 456px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}

.ingredients-list {
  display: flex;
  gap: 19px;
}

.ingredients-list-item.milk-chokolate {
  background-color: #fd9222;
}

.ingredients-list-item {
  border-radius: 15px;
  width: calc((100% - 57px) / 4);
  background-color: #fff;
  padding: 28px 32px;
}

.ingredients-list-item.nuts {
  background-color: #1e1823;
}

.ingredients-list-item.milk,
.ingredients-list-item.semi-sweet {
  border: 1px solid #fd9222;
}

.ingredient-image {
  margin-bottom: 36px;
}

.ingredient-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.ingredient-name.milk-chokolate-text,
.ingredient-name.nuts-text {
  color: #fff;
}
/* #endregion ingredients section */

/* #region made section */
.made-section {
  margin-bottom: 100px;
}

.made-container {
}

.made-title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.made-word {
  color: #fd9222;
}

.how-wrapper {
  display: flex;
  gap: 20px;
}
.made-image {
}

.made-receipt-container {
  padding: 32px;
}

.made-small-title {
  margin-bottom: 28px;
  width: 350px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}

.made-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.made-list-item {
  display: flex;
  gap: 8px;
  align-items: center;
}

.list-icon {
  flex-shrink: 0;
}

.made-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}
/* #endregion made section */

/* #region chokolate is loved section */
.chokolate-is-loved-section {
  margin-bottom: 100px;
}

.loved-container {
}

.choko-loved-title {
  margin-bottom: 90px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.chokolate-word {
  color: #fd9222;
}

.person-list {
  display: flex;
  gap: 24px;
  margin-bottom: 50px;
}

.person-item {
  position: relative;
  width: calc((100% - 56px) / 3);
}

.person-image {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.person-card-container {
  padding: 56px 24px 24px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  height: 200px;
}

.person-name {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}
.person-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-button {
  display: block;
  padding: 14px 40px;
  margin: 0 auto;
  border: 1px solid #fd9222;
  border-radius: 100px;
  font-weight: 600;
  font-size: 18px;
  background: transparent;
  color: #111;
}

.review-button:hover,
.review-button:focus {
  background-color: #fd9222;
  color: #fff;
}
/* #endregion chokolate is loved section */

/* #region footer */
.page-footer {
  background-color: #1e1823;
  padding: 50px 32px 86px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.top-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-title {
  width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}

.contacts-and-address {
}

.footer-text {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
}

.page-address {
  font-style: normal;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.contacts-item {
}

.divider {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  margin-bottom: 24px;
}
.contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.nav-list {
}
.nav-item {
}
footer .nav-link {
  color: #fff;
}
/* #endregion footer */
