/* #region settings */
body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1168px;
  padding: 0 15px;
  margin: 0 auto;
}
/* #endregion settings */

/* #region header */
.page-header {
}

.header-container {
  display: flex;
}

.logo {
  display: inline-flex;
  align-items: center;
  padding: 24px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.logo-part {
  font-style: italic;
}

.header-logo-icon {
  margin-left: 4px;
}

.page-nav {
  margin-right: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.nav-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}

.nav-item {
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}

.icon-list {
  display: flex;
  align-items: center;
  gap: 18px;
}
.icon-item {
}
.icon-link {
  padding: 24px 0;
}
.social-icon {
  stroke: #111;
  fill: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover {
  stroke: #fd9222;
}
/* #endregion header */

/* #region hero section */
.hero-section {
}

.hero-container {
  background-color: #1e1823;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url('../images/hero-background-image.jpg');
  padding-top: 375px;
  padding-bottom: 46px;
  padding-right: 72px;
  padding-left: 72px;
  border-radius: 30px;
  margin-bottom: 72px;
}

.page-title {
  width: 484px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-buttons-group {
  display: flex;
  justify-content: space-between;
}

.hero-button {
  margin-right: 14px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  border-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.made-button {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.made-button:hover,
.made-button:focus {
  color: #fd9222;
  background-color: #ffffff;
  border: 1px solid #fd9222;
}

.scroll-button {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-button:hover {
  color: #fd9222;
}

.scroll-button:hover > .scroll-button-wrapper {
  background-color: #fd9222;
}

.scroll-button:hover > .scroll-button-wrapper > .scroll-icon {
  fill: #fff;
}

.scroll-button-text {
  margin-right: 14px;
}

.scroll-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-icon {
  fill: #fd9222;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion hero section */

/* #region benefits section */
.benefits-section {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.benefits-container {
  padding: 0 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.benefits-item {
  width: calc((100% - 140px) / 3);
  padding-right: 18px;
  position: relative;
}

.benefits-item::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 124px;
  background-color: rgba(255, 255, 255, 0.5);
}

.benefits-item:last-child::after {
  content: none;
}

.icon-wrapper {
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}

.benefits-icon {
}

.benefit-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.benefit-descr {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion benefits section */

/* #region ingredients section */
.Ingredients-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.ingredients-title {
  margin: 0 auto 28px;
  width: 411px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.taste-word {
  color: #fd9222;
}

.ingredients-text {
  margin: 0 auto 50px;
  width: 456px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}

.ingredients-list {
  display: flex;
  gap: 19px;
}

.ingredients-item.milk-chokolate {
  background-color: #fd9222;
}

.ingredients-item {
  border-radius: 15px;
  width: calc((100% - 57px) / 4);
  background-color: #fff;
  padding: 28px 32px;
  overflow: hidden;
  cursor: pointer;
}

.ingredients-item.nuts {
  background-color: #1e1823;
}

.ingredients-item.milk,
.ingredients-item.semi-sweet {
  border: 1px solid #fd9222;
}

.ingredient-image {
  margin-bottom: 36px;
}

.ingredient-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.ingredient-name.milk-chokolate-text,
.ingredient-name.nuts-text {
  color: #fff;
}

.ingredients-item {
  position: relative;
}

.default-ingredients {
}

.overlay-ingredients {
  position: absolute;
  transform: translateY(100%);
  padding: 20px;
  border-radius: 15px;
  background: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ingredients-item:hover .overlay-ingredients {
  transform: translateY(0);
}

.ingredients-item:hover {
  border-color: transparent;
  background-color: transparent;
}

.hover-ingredients-tittle {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 8px;
}

.ingredients-bordered-items {
  display: flex;
  margin-bottom: 14px;
}

.bordered-item-1 {
  border-radius: 35px;
  padding: 6px 16px;
  background: #fd9222;
  margin-right: 6px;
}

.hover-ingredient {
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
}

.bordered-item-2 {
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  background-color: #fafafa;
}

.hover-ingredients-descr {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #111;
}

.hover-ingredients-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}
/* #endregion ingredients section */

/* #region made section */
.made-section {
  margin-bottom: 100px;
}

.made-container {
}

.made-title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.made-word {
  color: #fd9222;
}

.how-wrapper {
  display: flex;
  gap: 20px;
}
.made-image {
}

.made-receipt-container {
  padding: 32px;
}

.made-small-title {
  margin-bottom: 28px;
  width: 350px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}

.made-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.made-list-item {
  display: flex;
  gap: 8px;
  align-items: center;
}

.list-icon {
  flex-shrink: 0;
}

.made-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}
/* #endregion made section */

/* #region chokolate is loved section */
.chokolate-is-loved-section {
  margin-bottom: 100px;
}

.loved-container {
}

.choko-loved-title {
  margin-bottom: 90px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.chokolate-word {
  color: #fd9222;
}

.person-list {
  display: flex;
  gap: 24px;
  margin-bottom: 50px;
}

.person-item {
  position: relative;
  width: calc((100% - 56px) / 3);
}

.person-image {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.person-card-container {
  padding: 56px 24px 24px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  height: 200px;
}

.person-name {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}
.person-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-button {
  display: block;
  padding: 14px 40px;
  margin: 0 auto;
  border: 1px solid #fd9222;
  border-radius: 100px;
  font-weight: 600;
  font-size: 18px;
  background: transparent;
  color: #111;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-button:hover,
.review-button:focus {
  background-color: #fd9222;
  color: #fff;
}
/* #endregion chokolate is loved section */

/* #region footer */
.page-footer {
  background-color: #1e1823;
  padding: 50px 32px 86px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.top-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-title {
  width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}

.contacts-and-address {
}

.footer-text {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
}

.page-address {
  font-style: normal;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.contacts-item {
}

.divider {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  margin-bottom: 24px;
}

.contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover {
  color: #fd9222;
}

.nav-list {
}

.nav-item {
}

footer .nav-link {
  color: #fff;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-footer-nav {
}

.subscribe-form-wrapper {
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.subscribe-label {
  margin-right: 8px;
}
.subscribe-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  background-color: transparent;
  outline: transparent;
  padding: 15px 24px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
  width: 313px;
  height: 52px;
}
.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 17px 40px;
  width: 137px;
  height: 52px;
  border: none;
  background-color: #fd9222;

  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
/* #endregion footer */

/* #region backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);

  z-index: 20;

  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  width: 517px;
  min-height: 778px;
  padding: 38px 40px 24px 40px;

  background-color: #fafafa;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 28px;
  height: 28px;
  border: none;
  padding: 0;
  background-color: transparent;
  stroke: #111;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
}
.close-button:hover,
.close-button:focus {
  stroke: #fd9222;
}
.modal-text {
  width: 298px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 42px;
}

.input-wrapper {
  margin-bottom: 18px;
}
.label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 8px;
}

.input-content {
  position: relative;
}

.input {
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;

  padding-left: 62px;
  width: 100%;
  height: 68px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border: 1px solid #fd9222;
}

.input:focus + .input-icon {
  stroke: #fd9222;
}

.input-icon {
  position: absolute;
  top: 22px;
  left: 24px;
  fill: none;
  stroke: #404040;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment {
  width: 100%;
  min-height: 137px;
  background-color: transparent;
  outline: transparent;
  padding: 22px 24px;
  resize: none;
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment:focus {
  border: 1px solid #fd9222;
}

.user-comment::placeholder {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.checkbox-wrapper {
  margin-bottom: 40px;
}
.checkbox {
}

.checkbox:checked + .checkbox-label .custom-checkbox {
  fill: #fff;
  background-color: #fd9222;
  border: none;
}

.checkbox-label {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.custom-checkbox {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  width: 20px;
  height: 20px;
  margin-right: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon {
}
.privacy-policy {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fd9222;
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy:hover,
.privacy-policy:focus {
  text-decoration: underline;
}

.send-button {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #fff;

  border: none;
  border-radius: 100px;
  padding: 14px 40px;
  width: 117px;
  height: 45px;
  background-color: #fd9222;
}
/* #endregion backdrop */
