/* #region settings */
body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}
/* #endregion settings */

/* #region header */
.page-header {
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 24px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.logo-part {
  font-style: italic;
}

.page-nav {
}

.nav-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}

.nav-item {
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}

/* #endregion header */

/* #region hero section */
.hero-section {
}

.hero-container {
  background-color: #1e1823;
  padding-top: 375px;
  padding-bottom: 46px;
  padding-right: 72px;
  padding-left: 72px;
  border-radius: 30px;
  margin-bottom: 72px;
}

.page-title {
  width: 484px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-buttons-group {
  display: flex;
  justify-content: space-between;
}

.hero-button {
  margin-right: 14px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  border-color: transparent;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.made-button {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
}

.made-button:hover,
.made-button:focus {
  color: #fd9222;
  background-color: #ffffff;
  border: 1px solid #fd9222;
}

.scroll-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}

.scroll-button:hover,
.scroll-button:focus {
  color: #fd9222;
}
/* #endregion hero section */

/* #region benefits section */
.benefits-section {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.benefits-container {
  padding: 0 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.benefits-item {
  width: 308px;
}

.benefit-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.benefit-descr {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion benefits section */

/* #region ingredients section */
.Ingredients-section {
}

.ingredients-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.taste-word {
  color: #fd9222;
}

.ingredients-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}
.ingredients-list {
}

.ingredients-list-item.milk-chokolate {
  background-color: #fd9222;
}
.ingredients-list-item {
  background-color: #fff;
}

.ingredients-list-item.nuts {
  background-color: #1e1823;
}

.ingredient-image {
}

.ingredient-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.ingredient-name.milk-chokolate-text,
.ingredient-name.nuts-text {
  color: #fff;
}
/* #endregion ingredients section */

/* #region made section */
.made-section {
}
.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.made-word {
  color: #fd9222;
}

.made-image {
}

.made-small-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}

.made-list {
}

.made-list-item {
}

.made-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}
/* #endregion made section */

/* #region chokolate is loved section */
.chokolate-is-loved-section {
}

.choko-loved-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.chokolate-word {
  color: #fd9222;
}

.person-list {
  background: #fff;
}
.person-item {
}
.person-image {
}
.person-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}
.person-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.review-button {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

.review-button:hover,
.review-button:focus {
  background-color: #fd9222;
  color: #fff;
}
/* #endregion chokolate is loved section */

/* #region footer */
.page-footer {
  background-color: #1e1823;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}

.chokolate-word .bottom {
  color: #fd9222;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}

.page-address {
  font-style: normal;
}

.contacts {
}
.contacts-item {
}
.contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.nav-list {
}
.nav-item {
}
footer .nav-link {
  color: #fff;
}
/* #endregion footer */
